nav {
  /* background-color: #22313f; */
  background-color: #c1c1c1;
  /* background-color: #1e56a0; */

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 18%;
  height: 100%;
  position: fixed;
  padding-top: 2rem;
}

ul {
  list-style: none;
  /* color: #22313f; */
  /* color: #ebd5d5; */
  padding-left: 0;
  padding-top: 2rem;
  font-size: 15px;
}

.nav__link {
  text-decoration: none;
  color: #393e46;
  padding: 1.5rem 0;
  padding-left: 2rem;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  align-items: center;
}

li:first-child {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  margin-top: -2rem;
  border-bottom: none;
}

.nav__link:hover {
  background-color: #dfdfdf;
  cursor: pointer;
  color: #393e46;
}

.nav-icon {
  /* color: #cadefc; */
  /* color: #6c5b7c; */
  /* color: #305973; */
  color: #404969;
  margin-right: 0.5rem;
}

.nav-logo {
  width: 12%;
  cursor: default;
  /* margin-bottom: 2rem; */
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: "";
  width: 100%;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0 2rem;
  margin: auto;
}

.top-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-icon {
  /* padding: 0.5rem; */
  /* background-color: red;     */
  border-radius: 100%;
  width: 40px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-color: #ffc97c;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon {
  background-color: #d6e4f0;
  margin-left: 0.5rem;
}

.bell {
  color: #ea7659;
}

.user {
  color: #1e56a0;
}
