.table__field {
  border: none;
  border-bottom: 1px solid #2772db;
  text-align: center;
  background-color: inherit;
}

.table__field:focus {
  box-shadow: 0;
  background-color: inherit;
  outline: none;
}

.table__btn {
  background-color: #2772db;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 0.3rem;
  margin-right: 0.5rem;
}

.check {
}

.check-icon {
  color: #2772db;
  font-size: 18px;
}
