.register {
  background-color: #f8fcfb;
  height: 100vh;
  padding: 2rem 0;
}

.register__btns,
.register__add {
  display: flex;
  justify-content: flex-end;
}

.register__btns {
  width: 100%;
  /* background-color: #ffff; */
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.register__btn--active {
  width: 10%;
  text-align: center;
  margin-left: 1rem;
  padding: 0.8rem 0;
}

.register__btn--add {
  width: 10%;
  text-align: center;
  margin-left: 1rem;
  padding: 0.8rem 0;
}

.register__btn {
  background-color: #fefefe;
  color: #a2a8d3;
  border: 1px solid #a2a8d3;
  width: 10%;
  text-align: center;
  margin-left: 1rem;
  padding: 0.8rem 0;
}

.register__btn:hover {
  background-color: #fefefe;
  color: #a2a8d3;
  border: 1px solid #a2a8d3;
}

.register__add {
  margin: 1rem 0;
  margin-left: auto;
  margin-right: -4rem;
  /* margin-right: 2.8rem; */
}

.reg__add {
  padding: 0.5rem 0;
  width: 5%;
}

.add {
  font-size: 20px;
  cursor: pointer;
}

.table-icons {
  display: flex;
  justify-content: space-between;
  padding: 0 0.2rem;
}

.tab-icon {
  color: #c00000;
  cursor: pointer;
  margin-left: 10px;
}

.pen {
  font-size: 12px;
  color: #7cbd1e;
  /* margin-right: 1rem; */
}

.eye {
  /* color: #a2a8d3; */
}
