.table__field {
  border: none;
  border-bottom: 1px solid #2772db;
  text-align: center;
  background-color: inherit;
}

.table__field:focus {
  box-shadow: 0;
  background-color: inherit;
  outline: none;
}

.table__btn {
  background-color: #2772db;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 0.3rem;
  margin-right: 0.5rem;
}

/* Hide the original checkbox */
.checkbox-container {
  margin-right: 1rem;
}

.checkbox-container input[type="checkbox"] {
  display: none;
  position: relative;
}

/* Style the custom checkbox */
.checkbox-container label {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 2px solid #2772db;
  border-radius: 3px;
  cursor: pointer;
}

/* Style the custom checkbox when it is checked */
.checkbox-container input[type="checkbox"]:checked + label::before {
  content: "✓";
  display: inline-block;
  width: 8px;
  height: 8px;
  font-size: 30px;
  position: absolute;
  top: 0px;
  left: 32px;
  color: #2772db;
}
